
<div class="container-fluid cocktail-banner">
  <div class="row">
  </div>
</div>
  <div class="container-fluid">

    <div class="row justify-content-center">
    <div class="cards display-grid mb-3">
      <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do%>
      <% if cocktail.photo.file %>
      <div class="card" data-aos="fade-up" style="background-image: url(<%= cl_image_path(cocktail.photo) %>)">
        <% elsif cocktail.image_url == nil %>
        <div class="card" data-aos="fade-up" style="background-image: url(https://res.cloudinary.com/bogdanm/image/upload/v1579273136/empty.jpg)">
          <% else %>
          <div class="card" data-aos="fade-up" style="background-image: url(<%= cocktail.image_url %>)">
            <% end %>
          </div>
          <div class="cocktail-name">
            <p class="cocktail-name pl-3"><%= cocktail.name %></p>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
