
<div class="container-fluid cocktail-banner">
  <div class="row">
    <% @cocktails.each do |cocktail|%>
        <%= link_to cocktail_path(cocktail), id: "card-link-title" do %>
        <div class="cocktail-card my-3 mx-3" >
          <%= cl_image_tag cocktail.photo, height: 200, width: 200, crop: :fill %>

          <div class="card-body">
            <h4 class="card-text"><%= cocktail.name %></h4>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>






