a:hover {
  text-decoration: none;
}

body {

}

h2 {
  font-size: 32px;
  color: #D5FD51;
}

h3 {

  font-size: 32px;
  color: #D5FD51;
}

h4 {
  font-size: 32px;
  color: #D5FD51;
}

img {
  margin: 5px;
}

.text-new {
  color: #D5FD51;
}
