<nav class="navbar" style="height: 120px" >
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <%= link_to root_path do  %>
          <%= image_tag "cocktail.gif", alt: "alttext", id: 'cocktail-avatar' %>
          <% end %>
        <ul class="main-nav" id="js-menu">
            <li>
                <%= link_to "Browse cocktails" , cocktails_path, class: "btn btn-primary mr-2"  %>
            </li>
            <li>
                <%= link_to "Add cocktail", new_cocktail_path, class: "btn btn-primary"  %>
            </li>
        </ul>
    </nav>

