<div class="navbar navbar-expand-sm navbar-lewagon ">

    <%= link_to cocktails_path do  %>
      <%= image_tag "cocktail.gif", alt: "alttext",id: 'cocktail-avatar' %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-name"><h1>Cocktails</h1></div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Main page" , cocktails_path, class: "btn btn-primary mr-2"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Add cocktail", new_cocktail_path, class: "btn btn-primary"  %>
      </li>
    </ul>
  </div>
</div>

