<div class="container">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
   <h4> <%= f.input :description %> </h4>
    <h4> <%= f.association :ingredient %> </h4>
    <%= f.submit %>
  <% end %>
</div>

