
.cocktail-banner {
  background-image: url(https://res.cloudinary.com/bogdanm/image/upload/v1579361713/cocktail-hour_trunu8.jpg);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  color: #eee;
  text-align: center;
  position: relative;
}
