
.card-trip-infos {
  color: white;
}

.card-trip {
  border: 2px solid #D5FD51;
  box-shadow: 0 0 3px rgba( 0,0,0,0.4);
  color: white;
}

.card-cocktail-show{
  vertical-align: middle;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card{
  height: 300px;
  object-fit: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-show {
  object-fit: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

.show-image {
  display: flex;
  justify-content: center;
}

.ingredient-container {
  // border: 1px solid #F6C8D8;
  height: 70%;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid #181a54;
  padding: 8px;
  box-shadow: 9px 8px 10px rgba(0, 0, 0, 0.2);
}

.ingredient-container p {
  font-size: 24px;
  color: #F6C8D8;

}

 .cards{
   position: relative;
  top: 200px;
  display: grid;
  -webkit-box-flex: 1;
  flex-grow: 1;
  grid-template-columns: 300px 300px 300px 300px;
  grid-gap: 6em;
  margin-left: 6em;
  }

.cocktail-name p{
  font-size: 24px;
  border: 1px solid #8080801c;
  text-align: center;
  font-weight: bold;
  color: #F6C8D8;
}

.show-cocktail-name h2{
  font-size: 48px;
  color: #181a54;
}

.show-cocktail {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  border: 1px solid #181a54;
  border-radius: 4px;
}
