a:hover {
  text-decoration: none;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #fff;
}

h2 {
 font-family: 'Quicksand', sans-serif;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  color: #212121;
  margin-top: 2em;
}

.text-new {
  color: #212121;
}

.index-title h2 {
  font-size: 56px;
  color: #F6C8D8;
  margin-top: 2em;
  text-decoration: underline;
}
