a:hover {
  text-decoration: none;
}

body {
  background-image: url(https://res.cloudinary.com/bogdanm/image/upload/v1573196075/cocktails.jpg);
  background-size: cover;
  height: 100vh;
}

h2 {
  font-size: 32px;
  color: #D5FD51;
}

h3 {

  font-size: 32px;
  color: #D5FD51;
}

h4 {
  font-size: 32px;
  color: #D5FD51;
}

img {
  margin: 5px;
}

.text-new {
  color: #D5FD51;
}

.cocktail-banner {

}
