a:hover {
  text-decoration: none;
}

body {
  height: 100vh;
  background-size: cover;
}

h2 {
  font-size: 32px;
  color: #D5FD51;
}

h3 {

  font-size: 32px;
  color: #D5FD51;
}

h4 {
  font-size: 32px;
  color: #D5FD51;
}

img {
  border-radius: 16px;
  margin: 5px;
}

.text-new {
  color: #D5FD51;
}



